.image-and-title{
    text-align: center;
    padding: 10px;
}
.img-size{
    width: 100%;
    height: 100%;
}

.margin-top{
    margin-top: 100px;
}

.navbar-position{
    margin-top: 56px; 
    padding: 10px; 
    height: 100vh; 
    position: fixed; 
    width: 15%;
}

.padding-2{
    padding: 2px;
}

.genres-position{
    border:none; 
    padding-left: 30px; 
    padding-right: 0px; 
    width: 21%;
}