<div *ngIf="favorites.length > 0" class="container" style="margin-top: 70px; background-color: lightgray;">
    <div class="row justify-content-around align-items-center" >
            <div class=" col-lg-4 col-md-6 col-sm-12 mt-sm-1" *ngFor="let f of favorites">
                <div class="image-and-title" >
                    <img *ngIf="type == 'movie'" class="img-fluid" src="https://image.tmdb.org/t/p/w300/{{f.poster_path}}" routerLink="/movie/{{f.id}}">
                    <img *ngIf="type == 'tvshow'" class="img-fluid" src="https://image.tmdb.org/t/p/w300/{{f.poster_path}}" routerLink="/tvshow/{{f.id}}">
                    <h3 *ngIf="f.title">{{f.title}}</h3>
                    <h3 *ngIf="f.name" >{{f.name}}</h3>
                </div>
            </div>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="favorites.length == 0">
    <img class="img-size" src="../../assets/emptyList.png"/>
</div>