<div id="myCarousel" class="carousel slide" data-ride="carousel" style="height: 100vh;">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
    </ol>
    <div class="carousel-inner" style="height: 100%;">
      <div class="carousel-item active" style="height: 100%;">
        <img class="img-size" src="../../assets/pelis.jpg"/>
        <div class="container">
          <div class="carousel-caption text-left" >
            <h1>TV Shows</h1>
            <p>Eres un amanta de la televisión? Consulta las series
                más populares de este 2020. Si aún no has visto alguna, 
                qué esperas? Este es tu momento...
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item" style="height: 100%;">
        <img class="img-size" src="../../assets/peli6.png"/>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Movies</h1>
            <p>Has pensado en ir al cine? Ya has escogido tu peli favorita?
            Pues estamos para ayudarte. Aquí tienes la pelis más populares 
            de este 2020, las que están saliendo ahora mismo en los cines y
            los próximos estrenos. No te lo pierdas....Escoge tu peli favorita
            y disfruta de un momemto mágico...
            </p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>